body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

#ubicacion {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 600px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 20px;
}
